@model IEnumerable<QuanLyTourWeb.Models.GIATOUR>

@{
    ViewBag.Title = "Cost";
}

<h2>Cost</h2>

@*<p>
    @Html.ActionLink("Create New", "Create")
</p>*@
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.MaGia)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MaTour)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ThanhTien)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ThoiGianBatDau)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ThoiGianKetThuc)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.MaGia)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.MaTour)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.ThanhTien)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.ThoiGianBatDau)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.ThoiGianKetThuc)
    </td>
    @*<td>
        @Html.ActionLink("Edit", "Edit", new { id = item.MaGia }) |
        @Html.ActionLink("Details", "Details", new { id = item.MaGia }) |
        @Html.ActionLink("Delete", "Delete", new { id = item.MaGia })
    </td>*@
</tr>
}

</table>
