@model IEnumerable<QuanLyTourWeb.Models.NOIDUNGTOUR>

@{
    ViewBag.Title = "Quản Lý Tour";
}

<h2>Index</h2>

@*<p>
    @Html.ActionLink("Create New", "Create")
</p>*@
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.MaDoan)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HanhTrinh)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.KhachSan)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DiaDiemThamQuan)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DOANDULICH.MaTour)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DOANDULICH.NgayKhoiHanh)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DOANDULICH.NgayKetThuc)
        </th>
       
        <th></th>
    </tr>

@foreach (var item in Model) {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.MaDoan)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.HanhTrinh)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.KhachSan)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.DiaDiemThamQuan)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.DOANDULICH.MaTour)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.DOANDULICH.NgayKhoiHanh)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.DOANDULICH.NgayKetThuc)
    </td>
  
    @*<td>
        @Html.ActionLink("Edit", "Edit", new { id = item.MaDoan }) |
        @Html.ActionLink("Details", "Details", new { id = item.MaDoan }) |
        @Html.ActionLink("Delete", "Delete", new { id = item.MaDoan })
    </td>*@
</tr>
}

</table>
