@model QuanLyTour.Model.TourDuLichModel

@{
    ViewBag.Title = "EditTour";
}

<h2>EditTour</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
<div class="form-horizontal">
	<h4>TourDuLichModel</h4>
	<hr />
	@Html.ValidationSummary(true, "", new { @class = "text-danger" })









	<div class="form-group">
		@Html.LabelFor(model => model.MaTour, htmlAttributes: new { @class = "control-label col-md-2" })
		<div class="col-md-10">
			@Html.EditorFor(model => model.MaTour, new { htmlAttributes = new { @class = "form-control", @readonly = "true" } })
			@Html.ValidationMessageFor(model => model.TenTour, "", new { @class = "text-danger" })
		</div>
	</div>


	<div class="form-group">
		@Html.LabelFor(model => model.TenTour, htmlAttributes: new { @class = "control-label col-md-2" })
		<div class="col-md-10">
			@Html.EditorFor(model => model.TenTour, new { htmlAttributes = new { @class = "form-control" } })
			@Html.ValidationMessageFor(model => model.TenTour, "", new { @class = "text-danger" })
		</div>
	</div>

	<div class="form-group">
		@Html.LabelFor(model => model.MaLoaiHinh, htmlAttributes: new { @class = "control-label col-md-2" })
		<div class="col-md-10">
			@Html.DropDownListFor(model => model.MaLoaiHinh, null, new { htmlAttributes = new { @class = "form-control" } })
			@Html.ValidationMessageFor(model => model.MaLoaiHinh, "", new { @class = "text-danger" })
		</div>
	</div>

	<div class="form-group">
		@Html.LabelFor(model => model.TenDacDiem, htmlAttributes: new { @class = "control-label col-md-2" })
		<div class="col-md-10">
			@Html.DropDownListFor(model => model.DacDiem, null, new { htmlAttributes = new { @class = "form-control" } })
			@Html.ValidationMessageFor(model => model.TenDacDiem, "", new { @class = "text-danger" })
		</div>
	</div>

	<div class="form-group">
		@Html.LabelFor(model => model.ThanhTien, htmlAttributes: new { @class = "control-label col-md-2" })
		<div class="col-md-10">
			@Html.EditorFor(model => model.ThanhTien, new { htmlAttributes = new { @class = "form-control" } })
			@Html.ValidationMessageFor(model => model.ThanhTien, "", new { @class = "text-danger" })
		</div>
	</div>

	<div class="form-group">
		@Html.LabelFor(model => model.ThoiGianBatDau, htmlAttributes: new { @class = "control-label col-md-2" })
		<div class="col-md-10">
			@Html.TextBoxFor(model => model.ThoiGianBatDau, new { htmlAttributes = new { @class = "form-control" }, @type = "date" })
			@Html.ValidationMessageFor(model => model.ThoiGianBatDau, "", new { @class = "text-danger" })
		</div>
	</div>

	<div class="form-group">
		@Html.LabelFor(model => model.ThoiGianKetThuc, htmlAttributes: new { @class = "control-label col-md-2" })
		<div class="col-md-10">
			@Html.TextBoxFor(model => model.ThoiGianKetThuc, new { htmlAttributes = new { @class = "form-control" }, @type = "date" })
			@Html.ValidationMessageFor(model => model.ThoiGianKetThuc, "", new { @class = "text-danger" })
		</div>
	</div>

















	<div class="form-group">
		<div class="col-md-offset-2 col-md-10">
			<input type="submit" value="EditTour" class="btn btn-default" />
		</div>
	</div>
</div>
}

<div>
    @Html.ActionLink("Back to List", "QLTour")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
