@model QuanLyTour.Models.DiaDiemModel

@{
    ViewBag.Title = "EditDiaDiem";
}

<h2>Edit Địa Điểm</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">

        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="form-group">
            <div class="col-md-2 control-label ">
                <strong>Mã Địa Điểm</strong>
            </div>
            <div class="col-md-10">
                @Html.EditorFor(model => model.MaDiaDiem, new { htmlAttributes = new { @class = "form-control", @readOnly = "true" } })
                @Html.ValidationMessageFor(model => model.MaDiaDiem, "", new { @class = "text-danger" })
            </div>
        </div>


        <div class="form-group">
            <div class="col-md-2 control-label ">
                <strong>Tên Địa Điểm</strong>
            </div>
            <div class="col-md-10">
                @Html.EditorFor(model => model.TenDiaDiem, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.TenDiaDiem, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Update" class="btn btn-default" />
            </div>
        </div>

    </div>
}

<div>
    @Html.ActionLink("Back to List", "DiaDiem")
</div>

