@model IEnumerable < QuanLyTour.Models.DoanDuLichModel>

@{
	ViewBag.Title = "Quan ly tour";
}


<h1>Quan lý tour</h1>
<table class="table">
	<tr>
		<th>
			@Html.DisplayNameFor(model => model.MaDoan)
		</th>
		<th>
			@Html.DisplayNameFor(model => model.HanhTrinh)
		</th>
		<th>
			@Html.DisplayNameFor(model => model.KhachSan)
		</th>
		<th>
			@Html.DisplayNameFor(model => model.DiaDiemThamQuan)
		</th>
		<th>
			@Html.DisplayNameFor(model => model.NoiDungTour.HanhTrinh)
		</th>
		<th>
			@Html.DisplayNameFor(model => model.NoiDungTour.KhachSan)
		</th>
		<th>
			@Html.DisplayNameFor(model => model.NoiDungTour.DiaDiemThamQuan)
		</th>

		<th></th>
	</tr>

	@foreach (var item in Model) {
		<tr>
			<td>
				@Html.DisplayFor(modelItem => item.MaDoan)
			</td>
			
			<td>
				@Html.DisplayFor(modelItem => item.HanhTrinh)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.KhachSan)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.DiaDiemThamQuan)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.NoiDungTour.HanhTrinh)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.NoiDungTour.KhachSan)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.NoiDungTour.DiaDiemThamQuan)
			</td>

			<td>
				@Html.ActionLink("Edit", "Edit", new { id = item.MaDoan }) |
				@Html.ActionLink("Details", "Details", new { id = item.MaDoan }) |
				@Html.ActionLink("Delete", "Delete", new { id = item.MaDoan })
			</td>
		</tr>
	}

</table>